{% extends 'base2.html' %}


{% block content %}   
   {% load static %}
        <!--  ======================= Start Banner Area =======================  -->
  
    <!-- profile section -->
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">   
                    <div class="front ">
                        <img src="{{account.image.url}}" alt="front-img" class="front-img ">
                        <a style="text-transform:capitalize;color: #000;" href="#" class="name">{{ user.first_name }} {{user.last_name}}</a>
                    </div>
                    <a style="text-transform:capitalize" href="#" class="namee">{{ user.first_name }} {{user.last_name}}</a>
                </div>
            </div>
        </div>
    </section>

        <section>
            <div class="container simple-text">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h2>Art & Craft designer</h2> -->
                        <p>following {{ following }} | Followers {{ follower}}</p>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <a href="#" class="genric-btn info mr-4 text-uppercase">Update</a>
                                {% if company %}
                                <a href="{% url 'view-message' account.username %}"><button type="button" class="btn button secondary-button text-uppercase">Message</button></a>
                                {% else %}
                                    {% if connection %}
                                        <a href="{% url 'follow' account.username %}" id="follow" class="genric-btn info mr-4 text-uppercase" role="button" >Unfollow</a>
                                    {% else %}
                                        <a href="{% url 'follow' account.username %}" id="follow" class="genric-btn info mr-4 text-uppercase" role="button" >Follow</a>
                                    {% endif  %}
                                {% endif %}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
          
        <!--  ======================= End Banner Area =======================  -->


    <!-------------- start job details area---------------------->

    <div class="job_details_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="job_details_header">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="other/img/svg_icon/1.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="#"><h4>Art & Craft Engineer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-map-marker"></i> Madhaya Predesh, India</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--------     About me        --------->
                        <div class="descript_wrap white-bg">
                            <div class="single_wrap">
                                <h1>About Me</h1>
                                <h4>Personal information :</h4>
                                <table width=100% style="height: 100px">
                                    <tr>
                                        <th>First Name</th>
                                        <td>:</td>
                                        <td>{{account.firstname}}</td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td>:</td>
                                        <td>{{account.lastname}}</td>
                                    </tr>
                                    <tr>
                                        <th>Age</th>
                                        <td>:</td>
                                        <td>{{account.age}} year</td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>:</td>
                                        <td>{{account.gender}}</td>
                                    </tr>
                                    <tr>
                                        <th>Father name</th>
                                        <td>:</td>
                                        <td>{{account.father_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Skill/Talent</th>
                                        <td>:</td>
                                        <td>art & crafting</td>
                                    </tr>
                                    <tr>
                                        <th>Skill name</th>
                                        <td>:</td>
                                        <td>{{account.talent_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Experience</th>
                                        <td>:</td>
                                        <td>{{account.experience}} year</td>
                                    </tr>
                                    <tr>
                                        <th>Degree</th>
                                        <td>:</td>
                                        <td>MBA</td>
                                    </tr>
                                    <tr>
                                        <th>Language</th>
                                        <td>:</td>
                                        <td>{{account.language}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>:</td>
                                        <td>{{account.country}}</td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td>:</td>
                                        <td>{{account.state}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>:</td>
                                        <td>{{account.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>Area</th>
                                        <td>:</td>
                                        <td>{{account.area}}</td>
                                    </tr>
                                </table>
                                <pre>

                                </pre>
                                <h4>Contact information :</h4>
                                <table width=100% style="height: 100px">
                                    <tr>
                                        <th>Email</th>
                                        <td>:</td>
                                        <td>{{account.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile no.</th>
                                        <td>:</td>
                                        <td>{{account.your_mobile_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Social media</th>
                                        <td>:</td>
                                        <td>facebook</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>:</td>
                                        <td>instagram</td>
                                    </tr>
                                </table>
                                <pre>

                                </pre>
                                <h4>Description</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                <p></p>
                            </div>
                            
                            <div class="single_wrap">
                                <h4>Talent or Skills in details</h4>
                                <ul>
                                    <li>paper toys</li>
                                    <li>to make photo frames by thermacol, wood</li>
                                    <li>Leadership, analytical, and problem-solving abilities.</li>
                                    <li>comefsf wfs  sgf </li>
                                </ul>
                            </div>
                            <div class="single_wrap">
                                <h4>Qualifications</h4>
                                <ul>
                                    <li>The applicants should have experience in the following areas.
                                    </li>
                                    <li>Have sound knowledge of commercial activities.</li>
                                    <li>Leadership, analytical, and problem-solving abilities.</li>
                                    <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                                </ul>
                            </div>
                            <div class="single_wrap">
                                <h4>Market value</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                            </div>
                        </div>
                        <!-- <div class="apply_job_form white-bg">
                            <h4>Apply for the job</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input_field">
                                            <input type="text" placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input_field">
                                            <input type="text" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input_field">
                                            <input type="text" placeholder="Website/Portfolio link">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                              </button>
                                            </div>
                                            <div class="custom-file">
                                              <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                              <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input_field">
                                            <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="submit_btn">
                                            <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                    </div>
                    <div class="col-lg-4">
                        <div class="job_sumary">
                            <div class="summery_header">
                                <h3>User Summery</h3>
                            </div>
                            <div class="job_content">
                                <ul>
                                    <li>Published on: <span>12 Nov, 2019</span></li>
                                    <li>Vacancy: <span>2 Position</span></li>
                                    <li>Salary: <span>50k - 120k/y</span></li>
                                    <li>Location: <span>California, USA</span></li>
                                    <li>Job Nature: <span> Full-time</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="share_wrap d-flex">
                            <span>Share at:</span>
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                            </ul>
                        </div>
                        <div class="job_location_wrap">
                            <div class="job_lok_inner">
                                <div id="map" style="height: 200px;"></div>
                                <script>
                                  function initMap() {
                                    var uluru = {lat: -25.363, lng: 131.044};
                                    var grayStyles = [
                                      {
                                        featureType: "all",
                                        stylers: [
                                          { saturation: -90 },
                                          { lightness: 50 }
                                        ]
                                      },
                                      {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                                    ];
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                      center: {lat: -31.197, lng: 150.744},
                                      zoom: 9,
                                      styles: grayStyles,
                                      scrollwheel:  false
                                    });
                                  }
                                  
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                                
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!----------------------end job details area------------------------->    

    
{% endblock %}

{% block js%}

<script type="text/javascript">
    $("#follow").click(function(e){
        e.preventDefault();
        var href = this.href;
        $.ajax({
            url : href,
            success : function(response){
                if(response["following"]){
                    $("#follow").html("Unfollow");
                }
                else{
                    $("#follow").html("Follow");
                }
            }
        })
    })
</script>

{% endblock js%}