.gallery {
    margin: 10px 50px;

}
.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200;
    height: 200px;
    /* /width: 100px; */
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}