{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Tribal Talent Repository</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link css -->
    <link rel="stylesheet" href="{% static './css/forget_password.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.navs{
    height:20px;
    background:white;
}
.bg-ligh{
    /* background-image: linear-gradient(to right bottom, #3498db, #74b9ff); */
    background:#3498db;
}
.navbar-brand{
    margin-left:20px;
}
.form-group{
    margin-top:20px;
}
/* .navbar-nav{
    margin-left:900px;
} */
</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-ligh">
  <a class="navbar-brand" href="#">Tribal Talent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a style="color:white"class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      <!-- <a style="color:white" class="nav-item nav-link" href="#">Features</a> -->
      <a style="color:white" class="nav-item nav-link" href="{% url 'about' %}">About us</a>
      <a style="color:white" class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>

<div id="home">
    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-3">
                    <p class="promo-title">Fly Makes You Faster</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem pariatur ducimus ab voluptatum
                        veniam
                        blanditiis nam dolor a, repellat dolores dolorem asperiores, obcaecati velit, numquam qui
                        voluptatibus
                        dolorum itaque provident.
                    </p>
					<div class="">
                        <button type="submit" class="btn btn-primary">Know More</button>
                    </div>
					
                </div>
                <div class="col-md-6 text-center">
                    <div class="container ">
                        <div class="card mx-auto border-0">
                            <div class="card-header border-bottom-0 bg-transparent">
								    <h3>Forget Password</h3>
                                    
									<form method="post" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="email" class="form-control"
                                                placeholder="Email" required autofocus>
                                        </div>

                                        
                                        <div class="text-center pt-2 pb-1">
                                            <button type="submit" class="btn btn-primary btn-block"> Send </button>
                                        </div>
                                        <div class="text-center pt-2">
                                            <p class="btn btn-link text-primary">we will send you a forget password link on your register email</p>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% include '_alerts.html' %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>