<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>
    <script>
        function action(){
        confirm("do you want to delete account ?");}
    </script>
</head>
<body>
<h1>Welcome :</h1>
<h2>{{ account.username }} </h2>
<h2>{{ account.category }} </h2>
<ul>
    <li><a href="{% url 'edit_account' %}" class="btn btn-primary">Edit Account</a></li>
    <li><a href="{% url 'add_information' %}" class="btn btn-primary">Add Information</a></li>
    <li><a href="{% url 'change_password' %}" class="btn btn-primary">Change Password</a></li>
    <li><a onclick="action()" href="{% url 'delete-account' %}" class="btn btn-primary">Delete Account</a></li>
</ul>

<table border="2" align="center" style="height:200px">
    <tr>
        <th>First Name</th>
        <td>{{ account.firstname }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ account.lastname }}</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>{{ account.age }}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ account.city }}</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{ account.email }}</td>
    </tr>

</table>
</body>
</html>