{% extends 'header.html' %}
{%block title%}Create Account{% endblock %}

{% block content %}

<div class="ui active dimmer" id="loading" hidden>
    <div class="ui large text loader">Loading</div>
  </div>

<div class="container mt-4">


    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">

        <p class="display-6">Login Form</p>
        <hr>
        <div class="ui warning message" id="message" {% if not error %} hidden {% endif %}>
            {{error}}
        </div>

        <div class="ui success message" {% if not message %} hidden {% endif %}>
            {{message}}
        </div>

        <form class="ui form" id="form" action="/login" method="POST">

            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="*******">
            </div>

            <div>
                <a class="" href="/reset-password">Reset Passoword ?</a>
            </div>
            <div class="mt-3">
                <button class="button ui teal btn-block">Login</button>
            </div>


        </form>
        <br>

    </div>

</div>



{% endblock %}