{% extends 'base2.html' %}


{% block content %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                <div class="slide_text">
                    <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">About us ______</h3>
                    <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">We provide a</h3>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Plateform for Tribal Youth</p>
                    <!-- <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <a href="#" class="boxed-btn3">Upload your Resume</a>
                    </div> -->
                </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}