{% extends 'base2.html' %}


{% block content %}   
   {% load static %}
 
    <!-- profile section -->
    <section class="profile">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="front">
                            <img src="{{account.images.url}}" ssrc="{% static './img/testimonials/t4.jpg' %}" alt="front-img" class="front-img ">
                            <a style="text-transform:capitalize" href="#" class="name">{{ account.company_name }}</a>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section>
            <div class="container simple-text">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Engineering Institute</h2>
                        <div class="site-buttons">
                            <div class="d-flex flex-row flex-wrap">
                                <a href="#"><button type="button" class="btn button primary-button mr-4 text-uppercase">Update</button></a>
                                {% if company %}
                                <a href="{% url 'view-message' account.company_username %}"><button type="button" class="btn button secondary-button text-uppercase">Message</button></a>
                                {% else %}
                                <a href="#"><button type="button" class="btn button secondary-button text-uppercase">Get cv</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
         
        <!--  ======================= End profile Area =======================  -->


    <!-------------- start job details area---------------------->

    <div class="job_details_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- <div class="job_details_header">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="other/img/svg_icon/1.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="#"><h4>Software Engineer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="apply_job_form white-bg">
                            <h4>About us</h4>
                            <p>{{account.company_desc}}</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                <p>Variations of passages of lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                            <table width=100% style="height: 100px">
                                    <tr class="col-md-6">
                                        <th>Company Name</th>
                                        <td>:</td>
                                        <td>{{account.company_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Trending Name</th>
                                        <td>:</td>
                                        <td>{{account.company_trending_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company Type</th>
                                        <td>:</td>
                                        <td>{{account.company_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Establishment Year</th>
                                        <td>:</td>
                                        <td>{{account.establishment_year}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company Status</th>
                                        <td>:</td>
                                        <td>{{account.company_status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Class of Company</th>
                                        <td>:</td>
                                        <td>{{account.category}}</td>
                                    </tr>
                                    <tr>
                                        <th>Registration No.</th>
                                        <td>:</td>
                                        <td>{{account.registration_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Company Email</th>
                                        <td>:</td>
                                        <td>{{account.company_email}}</td>
                                    </tr>
                                    <tr>
                                        <th>No. of Employees</th>
                                        <td>:</td>
                                        <td>{{account.no_of_employee}}</td>
                                    </tr>                                                </tr>    
                                </table>
                        </div>
                        <pre>

                        </pre>
                        <div class="descript_wrap white-bg">
                            <div class="single_wrap">
                                <h4>Contact us</h4>
                                <!-- <h4>Personal information :</h4> -->
                                <table width=100% style="height: 100px">
                                    <tr class="col-md-6">
                                        <th>Landline No.</th>
                                        <td>:</td>
                                        <td>{{account.landline_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fax No.</th>
                                        <td>:</td>
                                        <td>{{account.fax_no}}</td>
                                    </tr>
                                    <tr>
                                        <th>Website</th>
                                        <td>:</td>
                                        <td>{{account.website}}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>:</td>
                                        <td>{{account.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td>:</td>
                                        <td>{{account.state}}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>:</td>
                                        <td>India</td>
                                    </tr>
                                </table>
                                <pre>

                                </pre>
                                <h4>Description</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                <p>Variations of passages of lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                            </div>
                            <div class="single_wrap">
                                <h4>Responsibility</h4>
                                <ul>
                                    <li>The applicants should have experience in the following areas.
                                    </li>
                                    <li>Have sound knowledge of commercial activities.</li>
                                    <li>Leadership, analytical, and problem-solving abilities.</li>
                                    <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                                </ul>
                            </div>
                            <div class="single_wrap">
                                <h4>Qualifications</h4>
                                <ul>
                                    <li>The applicants should have experience in the following areas.
                                    </li>
                                    <li>Have sound knowledge of commercial activities.</li>
                                    <li>Leadership, analytical, and problem-solving abilities.</li>
                                    <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                                </ul>
                            </div>
                            <div class="single_wrap">
                                <h4>Benefits</h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="job_sumary">
                            <div class="summery_header">
                                <h3>User Summery</h3>
                            </div>
                            <div class="job_content">
                                <ul>
                                    <li>Published on: <span>12 Nov, 2019</span></li>
                                    <li>Vacancy: <span>2 Position</span></li>
                                    <li>Salary: <span>50k - 120k/y</span></li>
                                    <li>Location: <span>California, USA</span></li>
                                    <li>Job Nature: <span> Full-time</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="share_wrap d-flex">
                            <span>Share at:</span>
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                                <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                            </ul>
                        </div>
                        <!-- <div class="job_location_wrap">
                            <div class="job_lok_inner">
                                <div id="map" style="height: 200px;"></div>
                                <script>
                                  function initMap() {
                                    var uluru = {lat: -25.363, lng: 131.044};
                                    var grayStyles = [
                                      {
                                        featureType: "all",
                                        stylers: [
                                          { saturation: -90 },
                                          { lightness: 50 }
                                        ]
                                      },
                                      {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                                    ];
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                      center: {lat: -31.197, lng: 150.744},
                                      zoom: 9,
                                      styles: grayStyles,
                                      scrollwheel:  false
                                    });
                                  }
                                  
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                                
                              </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
<!----------------------end job details area------------------------->    

    
{% endblock %}

{% block js%}

<script type="text/javascript">
    $("#follow").click(function(e){
        e.preventDefault();
        var href = this.href;
        $.ajax({
            url : href,
            success : function(response){
                if(response["following"]){
                    $("#follow").html("Unfollow");
                }
                else{
                    $("#follow").html("Follow");
                }
            }
        })
    })
</script>

{% endblock js%}