{% extends 'base2.html'%}    
{% load static %}


{% block content %}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>Images </h3>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!--/ bradcam_area  -->


    
    <!--images caps-->
    <div class="container ">
        <div class="row">
        {% if images %}    
            {% for i in images %}
            <div class="col-md-3 mt-4 ml-5">
                <div class="card shadow" style="width: 20rem;">
                    <a class="example-image-link" href="{{ i.image.url }}" data-lightbox="my-gallery">
                        <img src="{{ i.image.url }}" class="example-image card-img-top" alt="..." style="height: 15rem;">
                    </a>    
                    <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group ml-2 mb-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <a href="{% url 'delete_image' i.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                      </div>
                      <small class="text-muted mr-3">9 mins</small>
                    </div>

                </div>
                
            </div>    
            {% endfor %}
           
        {% else %}
            <h2 class="mt-5 ml-5">No Images </h2>
        {% endif %}    
            
        </div>
        
        <div class="row mt-5">
            <div class="col shadow">
                <div class=" ">
                    <h3 class="mt-4">Add Images</h3>
                    <p>click on add button for adding images
                        <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#loginModal" >Add</button>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- add images form Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Add images in Gallary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'upload_user_images' %}" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input type="text" class="form-control" name="title" id="exampleTitle" required>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image" accept="*/images" required>
          </div>
          <div class="form-group">
                <label for="exampletextarea">Description (optional)</label>
                <textarea class="form-control" name="description" id="exampletextarea"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- add images form -->
<br>
<br>

{% endblock %}